/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Project custom file
brackets.json
*.png
*.PNG
*.jpg
*.JPG
*.jpeg
*.JPEG
*.pdf
*.webp
*.php-tmp
